<html>
<head>
	<title></title>
	<script src="https://use.fontawesome.com/ed2655b1aa.js"></script>
	<link href = 'css/main.css' rel = 'stylesheet' type = 'text/css'/>
</head>
<body>
  <header>
  	<div class = 'container'>
  	  <div class = 'notification'></div>
  	  <ul class = 'drop-nav'>
  	    <li id = 'drop-nav-head'>Notifications</li>
  	    <li>fvvfvf deehjvde dkjebdje dehjvdehj devjdevde cdjcvdjcd jcdcjd dc</li>
  	    <li>vfvkfvf</li>
  	  </ul>
  	</div>
  </header>
  <section id = 'main'></section>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src = 'js/main.js'></script>
</body>
</html>